*.iml
.gradle
/local.properties
.idea
.project
.settings
.DS_Store
/bin
/build
/captures
/out
.externalNativeBuild
.cxx

# Project exclude paths
/plugins/build/
/plugins/build/intermediates/javac/debug/classes/
/wikitude-native-sdk/build/